<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>221773838513-qs7m0e3dlk2ictc7o36u78dveckta82l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.221773838513-qs7m0e3dlk2ictc7o36u78dveckta82l</string>
	<key>API_KEY</key>
	<string>AIzaSyArh2wHA-g3UCOiIWz2kbkrzplH_CjcQEA</string>
	<key>GCM_SENDER_ID</key>
	<string>221773838513</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>egesenkul.firebasedemo</string>
	<key>PROJECT_ID</key>
	<string>fir-sign-in-example</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-sign-in-example.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:221773838513:ios:0c7f6fec23fea10e</string>
	<key>DATABASE_URL</key>
	<string>https://fir-sign-in-example.firebaseio.com</string>
</dict>
</plist>